{% extends 'inherit.html' %}
{% block body %}
<div class="container1" style="height:500px;width:100%;//border:1px solid;">
  <div class="row" style="height:500px;width:100%;//ssborder:1px solid red;">
      <div class="col-3" style="height:auto;width:40%;//border:1px solid green;background:#f8f8f8"><p  style="font-size:30px;text-align:center;padding:12px  10px;"><b>About Me</b></p>
          <hr style="width:30%;height:5px;background:#1B2F36;margin:0px auto;"/><br/>
      <div class="col-2" style="height:250px;width:200px;//border:1px solid green;margin:0px auto"><img height="250px" width="200px" src="static/images/me.jpg"  style="border-radius:10px; border:1px dotted red" />
      </div>
      </div>
    <div class="col-8" style="height:auto;width:60%;//border:1px solid purple;background:#f8f8f8"><br/><h5 style="text-align:center;font-family:Lucida Handwriting">A designer who loves to to build simple  and beautiful things.</h5>
    <br/><br/>
        <p style="font-size:18px; font-family: 'Lucida Console', 'Courier New', monospace;color:grey">I am sure that my day job as a designer has a lot of similarities to that of the entire Smashing community. I create wireframes, mockups and concepts. I craft HTML and CSS using methods that I hope are fluid and adaptive. At the same time,
            my coworkers and I serve over 100 clients and 13 million users on a single platform.</p>
        <p style="font-size:18px; font-family: 'Lucida Console', 'Courier New', monospace;color:grey">Each client has the ability to design their website as they see fit, but we have an unbalanced ratio of designers to clients.  However, this scenario of limited time hardly strikes me as rare among my design peers.</p>
    </div>
  </div>
</div>
{% endblock body %}