{% extends "parent.html" %}
{% block body  %}

   <style type="text/css">
    input[type=text]
    {
   width:80%;
    }
    #mybtn
    {
    width:30%;
    }

input[type=text]:hover
{
background:#63C6D2;
opacity:0.65;
box-shadow:3px 2px #8ACDD5;
}
   </style>
    <!-- Required meta tags -->

    <!-- Bootstrap CSS -->
  <h2>Category</h2>
<form method="post" action="{% url 'adminapp:create_category' %}">
    {% csrf_token %}
<div class="form-group">
    <label for="exampleInputCategory"></label>
    <input placeholder="Enter Category" type="text" class="form-control" id="exampleInputCategory" aria-describedby="categoryHelp" name="category"><br>
<button type="submit" class="btn btn-outline-secondary" id="mybtn">Add</button>
</div>
</form>
 {% endblock body %}
